<!doctype html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <link rel='stylesheet' href="{% static 'css/url.css' %}" />
        <title>Fibonacci series</title>
    </head>
    <body>
        <div class="container">
            <div class="p-5">
                <h2 class="mb-3">Fibonacci series</h2>
               <div class="row">
                    <div class="col-6"><input type="number" class="form-control" id="nth-term-input" placeholder="Enter number"></div>
                    <div class="col-2"><button type="button" class="btn btn-primary" id="get-nth-term">Get nth term <sapn id="spinner"></sapn></button></div>
                </div>
               <div class="mt-5" id="serise-block">
                   
               </div>
            </div>
        </div>
    </body>
    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/fibonacci.js' %}"></script>
    </html>